:root {
    --ui-color-light: #E9E9E3;
    --ui-color-dark: #6F6F64;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: var(--ui-color-dark);
}

section {
    padding: 120px 56px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.menu-section {
    background-color: var(--ui-color-light);
}

h1 {
    font-family: 'Azeret Mono', monospace;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 45%;
}

#menu_img {
    width: 100%;
}

.menu-button {
    display: block;
    width: 100%;

    margin-top: 12px;
    padding: 17px 0;

    font-size: 15px;
    color: var(--ui-color-dark);

    background-color: var(--ui-color-light);

    border: var(--ui-color-dark) 2px solid;

    cursor: pointer;

    transition: 0.3s ease;
}

.menu-button:first-of-type {
    margin-top: 74px;
}

.menu-button-active {
    color: var(--ui-color-light);
    background-color: var(--ui-color-dark);
}
